
<div class="container-xl">
    <br>
    <div class="row">
        <div class="col mb-4 animated">
            <div class="card border-light">
                <div class="card-body">
                    <br>
                    <h3>About us</h3>
                    <p>DIGIXER est une société de Services du Numérique (ESN) spécialisée dans la transformation digitale des entreprises. Son fondateur est un professionnel de l’ingénierie logicielle, l’intégration et l’API Management avec une expérience avérée dans le secteur..</p>
                    <ul>
                        <li>Nous accompagnons les entreprises à transformer leurs systèmes d’information afin de les adapter aux nouvelles tendances du digital et du Web.</li>
                        <li>Nous avons des clients de grands comptes comme Generali, SANOFI, BNPP-CIB, ENGIE, AInfinity.</li>
                        <li>DIGIXER est un partenaire Google ayant les expertises APIGEE et GCP.</li>
                    </ul>
                </div>
              </div>
        </div>
        <div class="col mb-4 animated">
          <img class="img-col" src="assets/images/about-us.png" alt="" srcset="">
        </div>
        
    </div>
</div>
