<div class="container-xl">
    <br>
    <div class="footer row row-cols-1 row-cols-md-3 g-4">
        
        <div class="col">
            <img src="assets/images/logo.png" alt="">
            <br><br>
            <p>Une Entreprise de Services du Numérique spécialisée dans la transformation digitale des entreprises. </p>
            <br>
        </div>
        <div class="col">
            <h3>Contact</h3>
            <br>
            <h6><b class="text-primary">Phone:</b> (+33) 9 83 06 49 88</h6> 
            <h6><b class="text-primary">Email:</b> contact@digixer.fr</h6>
            <img class="social-icon" src="assets/images/social/email.svg" alt="">
            <img class="social-icon" src="assets/images/social/facebook.svg" alt="">
            <img class="social-icon" src="assets/images/social/instagram.svg" alt="">
            <img class="social-icon" src="assets/images/social/linkedin.svg" alt="">
            <img class="social-icon" src="assets/images/social/youtube.svg" alt="">
            <img class="social-icon" src="assets/images/social/twitter.svg" alt="">
            <br>
        </div>
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/contact">Contact us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/about">About us</a>
                </li>
              </ul>
        </div>
    </div>
    <br>
    <div class="card border-light">
        <div class="card-header">
            <br>
            <figure class="text-center">
                <h6>Copyright © Digixer 2018</h6>
            </figure>
        </div>
    </div>
    <div>
        
    </div>
</div>
