
<div class="container-xl">
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let service of services, let i=index" class="col mb-4 animated">
            <div class="card border-light">
                <div class="card-body">
                    <img src="{{service.cover}}" class="card-img-top service-cover" alt="" srcset="">
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.description.slice(0,255) }}
                        <a routerLink="/services/{{i+1}}">read more...</a>
                    </p>
                </div>
              </div>
        </div>
    </div>
</div>
